.goods-filet-toggle{
    border-radius: .25rem;
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 2rem;
    background: #fff;
}
.goods-title{
    max-width: 150px;
}
.goods-photo{
    width: 80px;
}


.goods-label {
    margin-bottom: 0.5rem;
}

.photogallery{
    display: flex;
    flex-wrap:wrap;
}
.photogallery__item{
    position: relative;
    margin: 0 10px 10px 0;
    img{
        display: block;
    }
}

.photogallery__close{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    svg{
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

.add_field{
    display: inline-block;
    margin-bottom: 1rem;
}


.m-clear{
    position: relative;
}

.field-clear{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 409.806 409.806' style='enable-background:new 0 0 409.806 409.806;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M228.929,205.01L404.596,29.343c6.78-6.548,6.968-17.352,0.42-24.132c-6.548-6.78-17.352-6.968-24.132-0.42 c-0.142,0.137-0.282,0.277-0.42,0.42L204.796,180.878L29.129,5.21c-6.78-6.548-17.584-6.36-24.132,0.42 c-6.388,6.614-6.388,17.099,0,23.713L180.664,205.01L4.997,380.677c-6.663,6.664-6.663,17.468,0,24.132 c6.664,6.662,17.468,6.662,24.132,0l175.667-175.667l175.667,175.667c6.78,6.548,17.584,6.36,24.132-0.42 c6.387-6.614,6.387-17.099,0-23.712L228.929,205.01z'/%3E%3C/g%3E%3C/svg%3E") center/cover no-repeat;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}