.goods-filet-toggle{
    border-radius: .25rem;
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 2rem;
}
.goods-title{
    max-width: 150px;
}
.goods-photo{
    width: 80px;
}


.goods-label {
    margin-bottom: 0.5rem;
}