.page-content{
	padding: 20px 0;
}

.layout{
	align-items: stretch;
    display: flex;
    width: 100%;
	overflow: hidden;
	min-height: 100%;
}
.main{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
	position: relative;
}

.content{
	padding: 20px 40px 40px;
}







//AUTHORIZATION
.authorization{

}


//USERS
.table-users{
	margin-bottom: 0;
	background: #fff;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
    border-collapse: separate;
    border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: hidden;
	tr{
		border-color: #dee2e6;
		&:first-child{
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
		}
		&.active{
			td,th{
				background: $yellow-100;
			}
		}
	}
	td,th{
		transition: background .3s ease;
		border-color: #dee2e6;
	}
	input[type="file"]{
		min-width: 290px;
	}
}
.users-toolbar{
	.btn{
		margin-bottom: 1rem;
	}
	
}
.users-pagination-toolbar{
	align-items: center;
	.pagination{
		margin-right: 1rem;
	}
}
.show-add{
	
	// margin-bottom: 1rem;
	display: flex;
	align-items: center;
	span{
		white-space: nowrap;
		margin-right: 5px;
	}
}
.users-total{
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	span{
		margin-left: 5px;
	}
}
.users-result{
	align-items: center;
    background: $gray-200;
    margin-bottom: 1rem;
    padding: 0.5rem;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.users-result__actions{
	display: flex;
	align-items: center;
	span{
		white-space: nowrap;
		margin-right: 5px;
	}
	select{
		margin-right: 10px;
	}
}

.table-wrap{
    width: 100%;
    table{
        margin-bottom: 0;
    }
	&::-webkit-scrollbar {
		height: 5px;
	   	width: 1px;
   	}
	
   	&::-webkit-scrollbar-track {
	   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	   border-radius: 20px;
	   background: #fff;
   	}
	
   	&::-webkit-scrollbar-thumb {
	   border-radius: 20px;
	   background: #0d6efd;
   	}
}

.users-dropdown-toggle{
	border:0;
	padding: 0;
	color: #000;
    background: transparent;
	svg{
		display: block;
		fill: #000;
	}
}

.users-td-action{
	width: 50px;
	padding: 0;
	text-align: center;
}
.toggle-content{
	display: none;
	padding: 1rem;
}

.goods-filet-toggle__link {
	span{
		display: inline-block;
	}
	&.active{
		span{
			border-top: 0;
			border-bottom: .3em solid #000;
		}
	}
}