.page-content{
	padding: 20px 0;
}

.layout{
	align-items: stretch;
    display: flex;
    width: 100%;
	overflow: hidden;
	min-height: 100%;
}
.main{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
	position: relative;
}

.content{
	padding: 20px 40px 40px;
}







//AUTHORIZATION
.authorization{

}


//USERS
.table-users{
	margin-bottom: 0;
	background: #fff;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
    border-collapse: separate;
    border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: hidden;
	tr{
		border-color: #dee2e6;
		&:first-child{
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
		}
		&.active{
			td,th{
				background: $yellow-100;
			}
		}
	}
	td,th{
		transition: background .3s ease;
		border-color: #dee2e6;
	}
	input[type="file"]{
		min-width: 290px;
	}
}
.users-toolbar{
	.btn{
		margin-bottom: 1rem;
	}
	
}
.users-pagination-toolbar{
	align-items: center;
	.pagination{
		margin-right: 1rem;
	}
}
.show-add{
	
	// margin-bottom: 1rem;
	display: flex;
	align-items: center;
	span{
		white-space: nowrap;
		margin-right: 5px;
	}
}
.users-total{
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	span{
		margin-left: 5px;
	}
}
.users-result{
	align-items: center;
    background: $gray-200;
    margin-bottom: 1rem;
    padding: 0.5rem;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.users-result__actions{
	display: flex;
	align-items: center;
	span{
		white-space: nowrap;
		margin-right: 5px;
	}
	select{
		margin-right: 10px;
	}
}

.table-wrap{
    width: 100%;
    table{
        margin-bottom: 0;
    }
	&::-webkit-scrollbar {
		height: 5px;
	   	width: 1px;
   	}
	
   	&::-webkit-scrollbar-track {
	   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	   border-radius: 20px;
	   background: #fff;
   	}
	
   	&::-webkit-scrollbar-thumb {
	   border-radius: 20px;
	   background: #0d6efd;
   	}
}

.users-dropdown-toggle{
	border:0;
	padding: 0;
	color: #000;
    background: transparent;
	svg{
		display: block;
		fill: #000;
	}
}

.users-td-action{
	width: 50px;
	padding: 0;
	text-align: center;
}
.toggle-content{
	display: none;
	padding: 1rem;
}

.goods-filet-toggle__link {
	span{
		display: inline-block;
	}
	&.active{
		span{
			border-top: 0;
			border-bottom: .3em solid #000;
		}
	}
}

.filter-popup-items{
	margin-bottom: 2rem;
}
.btn-sett-toggle{
	&:hover{
		.btn-toggle-icon{
			background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='459px' height='459px' viewBox='0 0 459 459' style='enable-background:new 0 0 459 459;' xml:space='preserve'%3E%3Cg id='swap-vert'%3E%3Cpath d='M331.5,357V178.5h-51V357H204l102,102l102-102H331.5z M153,0L51,102h76.5v178.5h51V102H255L153,0z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A") center/cover no-repeat;
		}
	}
}
.btn-toggle-icon{
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-top: -3px;
	background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='459px' height='459px' viewBox='0 0 459 459' style='enable-background:new 0 0 459 459;' xml:space='preserve'%3E%3Cg id='swap-vert'%3E%3Cpath d='M331.5,357V178.5h-51V357H204l102,102l102-102H331.5z M153,0L51,102h76.5v178.5h51V102H255L153,0z' fill='%230d6efd'/%3E%3C/g%3E%3C/svg%3E") center/cover no-repeat;
}

.buttons-nowrap{
	display: flex;
	flex-wrap:nowrap;
	button{
		margin-right: 4px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.settings-more-btn-group{
	.btn{
		margin-bottom: 0.5rem;
	}
}



.modal-unclosed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
	background: rgba(0, 0, 0, 0.4);
}

.modal-unclosed__inner {
    width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
	justify-content: center;
}
.modal-unclosed__content{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
	max-width: 600px;
	padding: 30px;
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.modal-unclosed__mess{
	color: #000;
	font-size: 18px;
	padding-top: 30px;
	font-weight: normal;
}


.layout-404{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
	text-align: center;
	h1{
		font-size: 4rem;
	}
}

.layout-inp{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
	text-align: center;
	h1{
		font-size: 4rem;
	}
}