.page-header{
	background: #fff;
}
.sidebar-toggle {
    cursor: pointer;
    display: flex;
    height: 26px;
    width: 26px;
	margin-right: 1rem;
	&:hover{
		.hamburger{
			background: #3f80ea;
			&:before,
			&:after{
				background: #3f80ea;
			}
		}
	}
}
.hamburger {
    position: relative;
	width: 24px;
	&:before {
		position: absolute;
		top: -8px;
		width: 20px;
	}
	&:after {
		bottom: -8px;
		position: absolute;
		width: 16px;
	}
}
.hamburger, .hamburger:after, .hamburger:before {
    background: #495057;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    transition: background .1s ease-in-out,color .1s ease-in-out;
    
}